.fire {
 --alethioutlinedif: #463132;
 --alethiotag: #ab7676;
 --alethiooverlay: linear-gradient(45deg, #3b1b1be8, #282727ad);
 --alethiobackimg: sepia(0);
--circleimgfilter: saturate(0.5) contrast(0.8) brightness(0.9);
--circlecol: #463133;
--circlefilter: contrast(0.9) brightness(0.7);
}
.nwater {
 --alethioutlinedif: #374042;
 --alethiotag: #bcd1d7;
 --alethiooverlay: linear-gradient(45deg, #1c313b, #282727);
 --alethiobackimg: sepia(4);
--circleimgfilter:  invert(64%) sepia(100%) saturate(234%) hue-rotate(354deg) brightness(80%) contrast(98%) drop-shadow(3px 3px 3px #000);
--circlecol: #374042;
--circlefilter: contrast(0.9) brightness(0.7);
}
.swater {
 --alethioutlinedif: #373d46;
 --alethiotag: #90b2c7;
 --alethiooverlay: linear-gradient(45deg, #1d2d3de8, #282727ad);
 --alethiobackimg: sepia(0);
--circleimgfilter: saturate(0.5) contrast(0.8) brightness(0.9);
--circlecol: #373d46;
--circlefilter: contrast(0.9) brightness(0.7);
}
.background-alethio {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://i78.servimg.com/u/f78/20/60/64/16/dfbdfb10.png);
}
.body-alethio {
    background: #252525;
    padding: 30px;
    margin: 37px;
    outline: solid;
    outline-color: var(--alethioutlinedif);
    outline-width: 3px;
    filter: drop-shadow(2px 4px 6px black);
    position: relative;
    z-index: 2;
    border-style: solid;
    border-width: 4px;
    border-color: #2c2c2c;
}
.header-img-alethio {
    background: #000000;
    height: 150px;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/031/324/702/large/simon-tremblay-gauthier-ack-stg-northumbria-07.jpg?1603288270);
    background-size: cover;
    filter: contrast(0.6) brightness(0.45);
    background-position: center;
}
.header-overlay-alethio {
    height: 150px;
    background: var(--alethiooverlay);
    margin-bottom: -150px;
    position: relative;
    z-index: 2;
    mix-blend-mode: color;
    filter: opacity(0.5);
}
.alethio-divider {
    height: 28px;
    background: #2c2c2c;
    margin: -30px;
    margin-bottom: 29px;
    margin-top: -56px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    border-bottom-color: rgb(44 44 44);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    background: var(--alethioutlinedif);
    margin: -56px -30px 29px;
    width: 670.5px;
    margin-left: -34px;
}
.content-alethio {
    display: flex;
    flex-direction: row;
    margin: -29px;
    gap: 17px;
}
.text-alethio {
    width: 420;
    padding-left: 15px;
    padding-bottom: 18px;
    margin-top: 70px;
    font-family: "Noto Serif", serif;
    font-size: 12px;
    padding-right: 2px;
    border-bottom-style: solid;
    margin-left: 2px;
    border-bottom-color: var(--alethioutlinedif);
    text-align: justify;
}
.alethio-column {
    width: 242px;
    border-left: #181818;
    border-left-style: solid;
    border-left-width: 5px;
    position: relative;
    background: #151515;
    margin-bottom: -168px;
}
.alethio-side-img {
    background: #161616;
    width: 237px;
    height: 450;
    background-image: url(https://i78.servimg.com/u/f78/20/60/64/16/yara_e10.png);
    background-size: cover;
    filter: saturate(0.6) contrast(0.6) brightness(0.4);
    box-shadow: inset 0 0 17px 8px #000000;
}
.alethio-circle {
    height: 100px;
    width: 100px;
    background: url(https://i.pinimg.com/originals/19/32/bd/1932bd633c58e90543b3c11c5fe1181e.gif);
    border-radius: 100%;
    margin-top: -31px;
    outline-style: solid;
    outline-color: var(--circlecol);
    outline-width: 5px;
    background-size: cover;
    border-style: solid;
    border-color: #000000;
}
.alethio-circle-img {
    background: url(https://i.pinimg.com/originals/19/32/bd/1932bd633c58e90543b3c11c5fe1181e.gif);
    border-radius: 100%;
    margin-top: -31px;
    height: 100px;
    width: 100px;
    background-size: cover;
    position: absolute;
    z-index: 4;
    filter: saturate(0.3) contrast(0.9) brightness(0.4);
}
.big-quote-alethio {
    position: relative;
    z-index: 4;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Spectral SC';
    font-size: 25px;
    
}
.quotes-alethio {
    display: flex;
    margin-top: -110px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
   
}
.small-quote-alethio {
    position: relative;
    margin-top: -1px;
    padding: 7px;
    border-radius: 5px;
    font-family: 'Spectral SC';
    font-size: 13px;
    color: #b6c8ce;
    backdrop-filter: blur(1px);
    font-style: italic;
}
.constelation-alethio {
    height: 200;
    width: 200;
    background: url(https://i98.servimg.com/u/f98/20/60/58/13/fbfsdb10.png);
    background-size: cover;
    mix-blend-mode: exclusion;
    opacity: 0.08;
    background-repeat: no-repeat;
    filter: var(--alethiobackimg);
    transform: scaleX(-1);
    margin-bottom: -27px;
    margin-top: -34px;
    margin-left: -460px;
}
.lowest-img-alethio {
    background: aquamarine;
    height: 293px;
    margin-top: -252px;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/031/324/689/large/simon-tremblay-gauthier-ack-stg-northumbria-04.jpg?1603288250);
    background-size: cover;
    border-top: solid;
    border-top-width: 4px;
    border-top-color: #2c2c2c;
    background-position-y: -82px;
    filter: saturate(0.5) contrast(0.8) brightness(0.9);
}
.body-alethio b {
    color: var(--default);
    font-size: 13;
    font-style: italic;
}
.header-alethio {
    height: 152px;
    margin: -34px;
    margin-bottom: 29px;
    border-bottom: #414141;
    border-bottom-style: solid;
    position: relative;
    z-index: 2;
    border-bottom-width: 3px;
}
.alethio-tag {
    background: #3a3a3a;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-family: 'Radio Canada Big';
    text-transform: uppercase;
    color: var(--alethiotag);
    border-style: solid;
    border-width: 1px;
    border-color: #414141;
    font-size: 11px;
}
.alethio-tags {
    display: flex;
    gap: 15px;
    margin-bottom: -28px;
}
.alethio-lower-quote {
    /* margin-top: 6px; */
    margin-bottom: 84px;
    background: #181818;
    padding: 7px;
    font-size: 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: #2c2c2c;
    font-family: 'Spectral SC';
    text-align: justify;
}
.footer-alethio {
    display: flex;
    flex-direction: column;
    margin-bottom: -105px;
    position: absolute;
    margin-top: -106px;
    margin-left: 203px;
    gap: 34px;
}
.alethio-side-img-gradient {
    background: linear-gradient(356deg, #151515, #26252500);
    height: 450;
    margin-top: -450px;
    position: relative;
}
.big-quote-alethio-reiko {
    position: relative;
    z-index: 4;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 3px;
    margin-left: -237px;
}
.small-quote-alethio-reiko {
    position: relative;
    margin-top: -9px;
    padding: 7px;
    border-radius: 5px;
    font-size: 13px;
    color: #ffffff;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    margin-left: -238px;
    mix-blend-mode: overlay;
}
