.background-alethio {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gifv);
    filter: drop-shadow(2px 4px 6px black);
}
.body-alethio {
    background: #1b1b1b;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: #404445;
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
.upper-block-alethio {
    height: 176px;
    background: #212627;
    margin: -30px;
    margin-bottom: 8px;
}
.upper-img-grad {
    box-shadow: inset 0px -20px 120px 0px #1b1b1b, inset 0px -20px 80px 7px #1b1b1b, inset 0px -20px 40px #191919;
    height: 176;
    margin-bottom: -176px;
    position: relative;
    z-index: 3;
}
.upper-img-alethio {
    height: 176px;
    background-image: url(https://i.pinimg.com/736x/f6/4b/07/f64b0747522e9979d300f0870e92d696.jpg);
    background-size: cover;
    background-position-y: -190px;
    filter: saturate() contrast(0.6) brightness(0.45);
    box-shadow: inset 0 0 5px #000000;
    margin-top: -176px;
}
.upper-img-alethio-overlayer {
    height: 176;
    background: var(--topicbg);
    position: relative;
    z-index: 2;
    filter: opacity(0.5);
}
.text-alethio {
    text-align: justify;
    background: #2f2f2f;
    margin-right: -5px;
    margin-left: -14px;
    padding: 23px;
    padding-top: 24px;
    font-weight: 300;
    color: #d9d9d9;
    text-shadow: 1px 1px 1px #000;
    font-family: "Noto Serif", serif;
    box-shadow: inset 0 0 2px #000000;
    border-radius: 10px;
    position: relative;
    z-index: 4;
    border: #3a3a3a;
    border-style: double;
    margin-top: -52px;
}
