.background-alethio {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gifv);
    filter: drop-shadow(2px 4px 6px black);
}
.body-alethio {
    background: #1b1b1b;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: var(--defaultdark);
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
.upper-block-alethio {
    height: 154px;
    background: #000000;
    margin: -30px;
    margin-bottom: 8px;
    border-bottom: #404445;
    border-bottom-style: solid;
    border-bottom-width: 8px;
}
.upper-img-alethio {
    height: 154;
    background-image: url(https://media.wired.com/photos/618192cc7e2afa17ad2b9c38/master/pass/Games-Horizon-Zero-Dawn-New-Game-Plus.jpg);
    background-size: cover;
    background-position-y: -276px;
    box-shadow: inset 0 0 5px #000000;
    filter: saturate() contrast(0.6) brightness(0.45);
    box-shadow: inset 0 0 5px #000000;
}
.upper-img-alethio-overlayer {
    height: 154;
    margin-top: -154px;
    background: var(--topicbg);
}
