.background-alethio {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gifv);
    filter: drop-shadow(2px 4px 6px black);
}
.body-alethio {
    background: #1b1b1b;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: #404445;
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
.upper-block-alethio {
    height: 176px;
    background: #212627;
    margin: -30px;
    margin-bottom: 8px;
}
.upper-img-alethio {
    height: 176px;
    background-image: url(https://i.pinimg.com/736x/f6/4b/07/f64b0747522e9979d300f0870e92d696.jpg);
    background-size: cover;
    background-position-y: -190px;
    filter: saturate() contrast(0.6) brightness(0.45);
    box-shadow: inset 0 0 5px #000000;
    margin-top: -176px;
}
.upper-img-alethio-overlayer {
    height: 176;
    background: var(--topicbg);
    position: relative;
    z-index: 2;
    filter: opacity(0.5);
}
