.background-alethio {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #374042;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://i78.servimg.com/u/f78/20/60/64/16/bliep11.png);
}
.body-alethio {
 background: #1b1b1b;
    padding: 30px;
    margin: 37px;
    outline: solid;
    outline-color: #2c2c2c;
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
