.background-alethio {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gifv);
    filter: drop-shadow(2px 4px 6px black);
}
.body-alethio {
    background: #1b1b1b;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: #404445;
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
.upper-block-alethio {
    height: 220px;
    background: #212627;
    margin: -30px;
    margin-bottom: 8px;
}
.upper-img-grad {
    box-shadow: inset 0px -20px 120px 20px #1b1b1b, inset 0px -20px 80px 20px #1b1b1b, inset 0px -20px 40px 20px #191919;
    height: 220;
    margin-top: -219px;
    position: relative;
    z-index: 3;
}
.upper-img-alethio {
    height: 220;
    background-image: url(https://interactivepasts.com/wp-content/uploads/2021/01/vlhall-scaled.jpg);
    background-size: cover;
    filter: saturate(0.4) contrast(0.7) brightness(0.45);
    margin-top: -220px;
    background-position: center;
}
.upper-img-alethio-overlayer {
    height: 220;
    background: var(--topicbg);
    position: relative;
    z-index: 3;
    filter: opacity(0.5);
}
.text-alethio {
    text-align: justify;
    background: #2f2f2f;
    margin-right: -6px;
    margin-left: -12px;
    padding: 23px;
    padding-top: 24px;
    font-weight: 300;
    color: #d9d9d9;
    text-shadow: 1px 1px 1px #000;
    font-family: "Noto Serif", serif;
    box-shadow: inset 0 0 2px #000000;
    border-radius: 10px;
    position: relative;
    z-index: 4;
    border: #3a3a3a;
    border-style: double;
    margin-top: -52px;
    width: 486px;
}
.alethio-side-img-code {
    background-image: url(https://i78.servimg.com/u/f78/20/60/64/16/fbsfbs10.jpg);
    position: relative;
    z-index: 3;
    width: 185px;
    height: 450px;
    background-size: cover;
    background-position-x: -32px;
    filter: saturate(0.6) contrast(0.6) brightness(0.4);
    box-shadow: inset -1px 20px 120px 20px #1b1b1b, inset 20px -1px 80px #1b1b1b, inset -1px -20px 40px #191919;
    margin-top: 29px;
}
.alethio-column {
    width: 176px;
    margin-right: -2px;
    height: 450;
}
.content-alethio {
    display: flex;
    flex-direction: row;
}
/* --- ALETHIO TABS --- */
.alethio-tabs input {
  display: none;
}

.alethio-tabs label {
  padding: 6px 12px;
  margin-right: 6px;
  background: #2a2a2a;
  border: 1px solid #3a3a3a;
  cursor: pointer;
  font-family: "Handlee", cursive;
  color: #d9d9d9;
}

.alethio-tabs label:hover {
  background: #333;
}

.alethio-tab-content {
  display: none;
}

/* show correct content */
#al-tab1:checked ~ .tab-one,
#al-tab2:checked ~ .tab-two {
  display: block;
}

/* active tab styling */
#al-tab1:checked + label,
#al-tab2:checked + label {
  background: #1b1b1b;
  font-weight: bold;
}
