.background-alethio {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://i78.servimg.com/u/f78/20/60/64/16/dfbdfb10.png);
}
.body-alethio {
    background: #252525;
    padding: 30px;
    margin: 37px;
    outline: solid;
    outline-color: #374042;
    outline-width: 3px;
    filter: drop-shadow(2px 4px 6px black);
    position: relative;
    z-index: 2;
    border-style: solid;
    border-width: 4px;
    border-color: #2c2c2c;
}
.header-img-alethio {
    background: #000000;
    height: 150px;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/031/324/702/large/simon-tremblay-gauthier-ack-stg-northumbria-07.jpg?1603288270);
    background-size: cover;
    background-position-y: -67px;
    filter: contrast(0.6) brightness(0.45);
}
.header-overlay-alethio {
    height: 150px;
    background: linear-gradient(45deg, #1c313b, #282727);
    margin-bottom: -150px;
    position: relative;
    z-index: 2;
    mix-blend-mode: color;
    filter: opacity(0.5);
}
.header-alethio {
    height: 152px;
    margin: -30px;
    margin-bottom: 29px;
    border-bottom: #414141;
    border-bottom-style: solid;
    position: relative;
    z-index: 2;
    border-bottom-width: 3px;
}
.content-alethio {
    display: flex;
    flex-direction: row;
    margin: -29px;
    gap: 17px;
}
.text-alethio {
    width: 420;
    padding-left: 15px;
    padding-bottom: 18px;
    margin-top: 70px;
    font-family: "Noto Serif", serif;
    font-size: 12px;
    padding-right: 6px;
    border-bottom-style: solid;
    margin-left: 13px;
    border-bottom-color: #374042;
}
.alethio-column {
    width: 242px;
    border-left: #1e1e1e;
    border-left-style: solid;
    border-left-width: 2px;
    box-shadow: inset 0 0 10px #000000;
    position: relative;
    background: #151515;
    margin-bottom: -168px;
}
.alethio-side-img {
    background: #161616;
    width: 237px;
    height: 450;
    background-image: url(https://i78.servimg.com/u/f78/20/60/64/16/fbsfbs11.jpg);
    background-size: cover;
    filter: saturate(0.6) contrast(0.6) brightness(0.4);
    box-shadow: inset 0 0 16px #000000;
}
.alethio-divider {
    height: 41px;
    background: #2c2c2c;
    margin: -30px;
    margin-bottom: 29px;
    margin-top: -56px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    border-bottom-color: #43392e;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
.alethio-circle {
    height: 100px;
    width: 100px;
    background: url(https://i.pinimg.com/originals/19/32/bd/1932bd633c58e90543b3c11c5fe1181e.gif);
    border-radius: 100%;
    margin-top: -31px;
    outline-style: solid;
    outline-color: #e3a65b;
    outline-width: 3px;
    background-size: cover;
    filter: saturate(1.065) contrast(0.6) brightness(0.4);
    border-style: solid;
    border-color: #000000;
}
.alethio-circle-img {
    background: url(https://cdn-icons-png.flaticon.com/128/7951/7951824.png);
    border-radius: 100%;
    margin-top: -31px;
    height: 100px;
    width: 100px;
    background-size: cover;
    position: absolute;
    filter: invert(64%) sepia(80%) saturate(234%) hue-rotate(354deg) brightness(99%) contrast(98%);
    opacity: .7;
    z-index: 4;
}
.big-quote-alethio {
    position: relative;
    z-index: 4;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Spectral SC';
    font-size: 25px;
    text-shadow: 0 0 9px #ffffff;
}
.quotes-alethio {
    display: flex;
    margin-top: -110px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
}
.small-quote-alethio {
    position: relative;
    margin-top: -1px;
    padding: 7px;
    border-radius: 5px;
    font-family: 'Spectral SC';
    font-size: 13px;
    color: #b6c8ce;
    backdrop-filter: blur(1px);
    font-style: italic;
}
.constelation-alethio {
    height: 495px;
    width: 320px;
    background: url(https://i.pinimg.com/736x/d7/0f/96/d70f965d6df8a4c4930fbdbc01ed7f0d.jpg);
    background-size: cover;
    mix-blend-mode: exclusion;
    opacity: 0.08;
    background-repeat: no-repeat;
    filter: sepia(1);
    margin-top: -236px;
    margin-left: -76px;
    transform: scaleX(-1);
    margin-bottom: -120px;
}
.lowest-img-alethio {
    background: aquamarine;
    height: 293px;
    margin-top: -252px;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/031/324/689/large/simon-tremblay-gauthier-ack-stg-northumbria-04.jpg?1603288250);
    background-size: cover;
    border-top: solid;
    border-top-width: 4px;
    border-top-color: #2c2c2c;
    background-position-y: -82px;
    filter: saturate(0.5) contrast(0.8) brightness(0.9);
}
.body-alethio b {
    color: #b8884f;
    font-size: 13;
    font-style: italic;
}
