.background-dust {
    background: #181818;
    width: 600;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: cover;
    background-image: url(https://i.pinimg.com/1200x/5f/06/e3/5f06e37d919bf3eda947e19d463a48a0.jpg);
}
.body-dust {
    background: #252525;
    padding: 30px;
    margin: 14px;
    outline: solid;
    outline-color: var(--alethioutlinedif);
    outline-width: 3px;
    filter: drop-shadow(2px 4px 6px black);
    position: relative;
    z-index: 2;
    border-style: solid;
    border-width: 4px;
    border-color: #2c2c2c;
}
.dust-header {
    background: #161616;
    height: 160;
    margin: -33px;
}
.dust-banner-overlay {
    background: var(--footerbg);
    height: 160;
}
.dust-devider {
    background: #393f38;
    height: 61px;
    margin: -34px;
    margin-top: 30px;
    margin-bottom: -19px;
}
.dust-text {
    padding-left: 15px;
    padding-bottom: 15px;
    font-family: "Noto Serif", serif;
    font-size: 10.5px;
    padding-right: 15px;
    text-align: justify;
    background: #2b2b2b;
    padding-top: 15px;
    position: relative;
    z-index: 2;
    margin: -22px;
    margin-top: 30px;
}
