.background-dust {
    background: #181818;
    width: 600;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 1px;
    border-color: #3a3a3a;
    background-size: cover;
    background-image: url(https://i.pinimg.com/1200x/5f/06/e3/5f06e37d919bf3eda947e19d463a48a0.jpg);
}
.body-dust {
    background: #252525;
    padding: 30px;
    margin: 14px;
    outline: solid;
    outline-color: #463132;
    outline-width: 3px;
    filter: drop-shadow(2px 4px 6px black);
    position: relative;
    z-index: 2;
}
.dust-header {
    background: #161616;
    height: 160;
    margin: -33px;
}
.dust-banner-overlay {
    background: var(--footerbg);
    height: 160;
    display: flex;
    align-items: center;
}
.dust-circle {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background: black;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #463132;
    margin-left: 55px;
}
.dust-circle-img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background: url(https://images2.imgbox.com/24/e2/UoW2uYOF_o.png);
    background-size: cover;
    filter: saturate(0.3) contrast(0.9) brightness(0.7);
}
.dust-symbol {
    background: url(https://i.pinimg.com/736x/c6/de/d6/c6ded6c746103bbe200baa07a013b024.jpg);
    height: 150;
    width: 397px;
    background-size: cover;
    background-position-y: -173px;
    background-position-x: 34px;
    filter: invert(1) saturate(390%) hue-rotate(159deg);
    mix-blend-mode: screen;
    opacity: 0.1;
}
.dust-devider {
    background: #443938;
    height: 78px;
    margin: -30px;
    width: 81px;
    margin-top: -7px;
    margin-bottom: -82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100% 100% 0% 0%;
}
.Dust-quotes {
    position: absolute;
    margin-left: 229px;
}
.dust-quote-big {
    font-family: 'Spectral SC';
    font-size: 15;
    text-transform: uppercase;
}
.dust-quote-small {
    font-family: 'Spectral SC';
    font-size: 11;
}
.dust-text {
    padding-left: 12px;
    padding-bottom: 15px;
    font-family: "Noto Serif", serif;
    font-size: 10.5px;
    padding-right: 15px;
    text-align: justify;
    background: #443938a8;
    padding-top: 15px;
    position: relative;
    z-index: 2;
    margin: -7px;
    margin-top: 43px;
}
.body-dust b {
    color: var(--default);
    font-size: 11;
    font-style: italic;
}
.dust-lower-bar {
    background: #2c2c2c;
    margin: -30px;
    margin-top: 30px;
    display: flex;
    height: 42px;
}
.dust-tags {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    flex-grow: 2;
    justify-content: flex-end;
    margin-right: 9px;
}
.dust-tag {
    border-color: transparent;
    background: #3a3a3a;
    text-transform: uppercase;
    font-family: 'Radio Canada Big';
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default);
    border: 1px solid #414141;
    font-size: 10;
    padding-top: 5px;
    padding-bottom: 5px;
}
