.qil-background {
    width: 660px;
    background: rgb(24, 24, 24);
    border-radius: 10px;
    outline: rgb(34, 34, 34) solid 6px;
    border-style: solid;
    border-image: initial;
    border-width: 3px;
    border-color: rgb(58, 58, 58);
}
.qil-body {
    background: #252525;
    border-radius: 10px;
    padding: 30;
    margin: 20;
}
