.background-renoir {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 6px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gifv);
}
.body-renoir {
    background: rgb(37, 37, 37);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: #191919;
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
.renoir-img-block {
    background: #000000;
    height: 187px;
    border-radius: 10px 10px 0px 0px;
    margin: -30px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-bottom-color: #2c2c2c;
}
.renoir-main-img {
    background-image: url(https://nl.gamewallpapers.com/img_script/wallpaper_dir/img.php?src=wallpaper_horizon_zero_dawn_-_the_frozen_wilds_02_2560x1080.jpg&height=506&sharpen);
    height: 158px;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
    background-size: cover;
    background-position-y: -127px;
    filter: saturate(0.7) contrast(0.6) brightness(0.45);
    box-shadow: inset 0 0 5px #000000;
}
