.background-renoir {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gifv);
    border-radius: 10px 10px 10px 10px;
}
.body-renoir {
    background: #1b1b1b;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: var(--defaultdark);
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
.renoir-img-block {
    background: #000000;
    height: 165px;
    border-radius: 10px 10px 0px 0px;
    margin: -30px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-bottom-color: var(--defaultdark);
}
.renoir-main-img {
    background-image: url(https://nl.gamewallpapers.com/img_script/wallpaper_dir/img.php?src=wallpaper_horizon_zero_dawn_-_the_frozen_wilds_02_2560x1080.jpg&height=506&sharpen);
    height: 158px;
    width: 396px;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
    background-size: cover;
    filter: saturate(0.7) contrast(0.6) brightness(0.45);
    box-shadow: inset 0 0 5px #000000;
    margin-left: -308px;
}
.renoir-symbol-overlay {
    margin-top: -175px;
    margin-bottom: 46px;
    margin-right: -148px;
    width: 342px;
}
.renoir-overlayer {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 30% 50%, 0% 0%);
    background: #141414;
    height: 158;
    width: 449px;
    border-radius: 0px 10px 0px 0px;
}
.renoir-quote {
    line-height: 100%;
    font-weight: 600;
    position: relative;
    z-index: 2;
    background: #2f2f2f;
    padding: 4px;
    margin: 146px;
    margin-top: -38px;
    border-radius: 10px;
    width: 491px;
    margin-right: -53px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8px;
    padding: 6px;
    filter: drop-shadow(2px 4px 6px black);
}
.renoir-big-quote {
    position: relative;
    z-index: 3;
    font-size: 29px;
    color: var(--lastbg);
    margin-top: -189px;
    margin-right: -43px;
    text-shadow: 0 0 7px;
    font-family: 'Oranienbaum';
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}
.renoir-symbol {
    background-image: url(https://cdn-icons-png.flaticon.com/128/10217/10217105.png);
    height: 158;
    width: 158;
    margin-top: -158px;
    position: relative;
    margin-right: -393px;
    background-position: center;
    background-size: cover;
    /* mix-blend-mode: overlay; */
    filter: var(--elementcolor);
    opacity: .1;
}
.renoir-content {
    display: flex;
    max-height: 100%;
}
.renoir-txt {
    text-align: justify;
    background: #2f2f2f;
    margin-right: -5px;
    margin-left: -14px;
    padding: 17px;
    padding-top: 0px;
    font-weight: 300;
    color: #d9d9d9;
    font-family: "Noto Serif", serif;
    box-shadow: inset 0 0 2px #000000;
    border-radius: 10px;
    position: relative;
    z-index: 4;
    border: #3a3a3a;
    border-style: double;
}
.renoir-column {
    display: flex;
    flex-direction: column;
}
.renoir-sideimg {
    background: url(https://i78.servimg.com/u/f78/20/60/64/16/yara_a11.jpg);
    height: 413px;
    width: 220px;
    margin-right: -30px;
    margin-top: -13px;
    background-size: cover;
    filter: saturate(0.6) contrast(0.6) brightness(0.4);
    box-shadow: inset 0 0 120px #1b1b1b, inset 0 0 80px #1b1b1b, inset 0 0 40px #191919;
    border-left: #313131;
}
.renoir-sidefill {
    background: beige;
    margin-right: -30px;
    margin-top: -17px;
}
.renoir-side-over {
    width: 243px;
    height: 440px;
    background: linear-gradient(0deg, #1b1b1b, #26252500);
    margin-bottom: -401px;
    position: relative;
    margin-top: -43px;
    margin-right: -458px;
    z-index: 4;
}
.renoir-lower-img-colour {
    height: 180px;
    margin: -30px;
    border-radius: 0px 0px 10px 10px;
    background: var(--topicbg);
    position: relative;
    z-index: 3;
    margin-top: -180px;
    mix-blend-mode: color;
    filter: opacity(0.2);
}
.renoir-lower-img-overlay {
    height: 180;
    margin: -30px;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(189deg, #1b1b1b, #26252500);
    position: relative;
    z-index: 3;
    margin-top: -152px;
}
.renoir-lower-img {
    height: 180;
    margin: -30px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -180px;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/058/984/794/large/kyle-bromley-kbromley-for100-fin01.jpg?1675366478);
    background-size: cover;
    background-position: center;
    filter: saturate(0.6) contrast(0.6) brightness(0.4);
    box-shadow: inset 0 0 19px #191919, inset 0 0 80px #191919, inset 0 0 180px #191919;
}
.body-renoir b {
    font-size: 12px;
    color: var(--default);
}
.body-renoir i {
    color: var(--default);
}
.renoir.filler {
    height: 300;
    margin-top: -242px;
}
.renoir-lower-q {
    z-index: 4;
    font-family: 'Oranienbaum';
    font-optical-sizing: auto;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 9px;
    margin-left: 15px;
    margin-top: -25px;
    font-style: italic;
    background: #1b1b1b;
    padding: 10px;
    outline-style: solid;
    outline-color: #3a3a3a;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #000000;
    align-content: center;
    position: relative;
}
.body-renoir-pageimg {
    display: inline-block;
    background: url(https://i78.servimg.com/u/f78/20/60/64/16/untitl10.png);
    height: 159px;
    width: 230;
    margin: 1px;
    background-size: cover;
    mix-blend-mode: hard-light;
    filter: brightness(0.5);
}
.body-renoir-page {
    display: inline-block;
    background: url(https://img.freepik.com/premium-photo/old-paper-texture-background_118047-1365.jpg);
    padding: 40px;
    padding-inline: 24px;
    color: black;
    font-family: "Bilbo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 1;
    border-radius: 0% 10% 10% 0%;
    text-wrap-mode: wrap;
    text-wrap-style: auto;
    box-shadow: inset 0 0 5px #000000;
}
    
