.scam-background {
    background-image: url(https://images2.imgbox.com/43/ef/04U8Of0b_o.jpg);
    outline: solid;
    outline-width: 10px;
    outline-color: #1A1A1A;
    border: solid;
    border-color: #333333;
    border-width: 5px;
    filter: drop-shadow(2px 4px 6px black);
    background-size: cover;
}
.scam-base {
    background: #212121;
    margin: 20px;
    outline: solid;
    outline-width: 3px;
    outline-color: #4c4c4c;
    padding: 30px;
}
.scambox1 {
    background: #393f38;
    height: 35;
    margin: -30px;
    outline: solid;
    outline-color: #4c4c4c;
    outline-width: 3px;
}
.scam-main-img {
    background-image: url(https://images2.imgbox.com/20/04/tjeOKFqp_o.jpg);
    height: 250px;
    margin: -30px;
    margin-top: -122px;
    filter: grayscale(1);
    background-size: cover;
    position: relative;
    z-index: 1;
}
.scam-grad {
    background: linear-gradient(to bottom, rgb(57 63 56), rgb(40 40 40));
    height: 250px;
    margin: -30px;
    background-size: cover;
    position: relative;
    z-index: 2;
    margin-top: -250px;
    mix-blend-mode: color;
}   
    .quotes {
    margin-top: 71px;
    margin-left: 240px;
} 
.bigquote {
    position: relative;
    z-index: 3;
    width: fit-content;
    padding: 11px;
    border-radius: 5px;
    font-family: 'robot';
    text-transform: uppercase;
    text-decoration-thickness: 12px;
    background: rgb(15 15 15 / 70%);
    backdrop-filter: blur(6px);
    font-weight: bolder;
    font-size: 15;
}
    .small-quote {
    position: relative;
    z-index: 3;
    width: fit-content;
    padding: 11px;
    border-radius: 5px;
    font-family: 'robot';
    text-transform: uppercase;
    background: rgb(15 15 15 / 70%);
    backdrop-filter: blur(6px);
    font-size: 10;
    margin-top: 6;
    margin-left: 96px;
}
.line {
    background: #393f38;
    height: 31px;
    margin: -30px;
    margin-top: 7px;
}
.scam-content {
    margin-top: 50px;
}
.Scambox2 {
    background: #393f38;
    height: 60px;
    margin: -30px;
    outline: solid;
    outline-color: #4c4c4c;
    outline-width: 3px;
    margin-top: 57px;
    font-weight: bold;
}
