.background-umi {
    background: #181818;
    border-radius: 10px;
    width: 660px;
    outline: solid;
    outline-color: #222222;
    outline-width: 6px;
    border: bisque;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
}
.body-umi {
    background: #252525;
    border-radius: 10px;
    padding: 30;
    margin: 20;
    margin-bottom: 156px;
}
.umi-big-quote {
    font-family: Georgia, serif;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: 5px 4px 5px #000000;
    color: #819e94;
}

.umi-flex {
    display: flex;
}
.umi-text {
    margin-right: 16px;
    width: 500;
    text-align: justify;
    font-size: 14px;
    font-family: "Noto Serif", serif;
    border-left-width: 1px;
}
b {
    color: #829f95;
    font-size: 15px;
    font-style: italic;
}
.umi-side-image {
    width: 241px;
    background-size: cover;
    background-image: url(https://i30.servimg.com/u/f30/20/60/58/34/plant10.png);
    background-position-x: -44px;
    margin-right: -26px;
    filter: contrast(0) brightness(1.3) drop-shadow(2px -1px 2px #fff);
    mix-blend-mode: overlay;
}
.umi-main-image {
    border: rebeccapurple;
    height: 108px;
    background-size: cover;
    margin-top: -153px;
    border-radius: 10px;
    background-position-y: 287px;
    background-image: url(https://images2.imgbox.com/b1/38/CcOqqpN9_o.gif);
}
.umi-wave {
    background: #181818;
    height: 160;
    margin-top: -155px;
    border-radius: 10px;
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 7.91%, 2.00% 8.98%, 4.00% 10.24%, 6.00% 11.55%, 8.00% 12.73%, 10.00% 13.64%, 12.00% 14.17%, 14.00% 14.26%, 16.00% 13.90%, 18.00% 13.12%, 20.00% 12.03%, 22.00% 10.76%, 24.00% 9.46%, 26.00% 8.30%, 28.00% 7.41%, 30.00% 6.90%, 32.00% 6.85%, 34.00% 7.24%, 36.00% 8.04%, 38.00% 9.15%, 40.00% 10.43%, 42.00% 11.73%, 44.00% 12.88%, 46.00% 13.74%, 48.00% 14.22%, 50.00% 14.24%, 52.00% 13.81%, 54.00% 12.98%, 56.00% 11.86%, 58.00% 10.57%, 60.00% 9.28%, 62.00% 8.15%, 64.00% 7.31%, 66.00% 6.87%, 68.00% 6.88%, 70.00% 7.33%, 72.00% 8.19%, 74.00% 9.33%, 76.00% 10.62%, 78.00% 11.90%, 80.00% 13.02%, 82.00% 13.83%, 84.00% 14.25%, 86.00% 14.21%, 88.00% 13.72%, 90.00% 12.84%, 92.00% 11.68%, 94.00% 10.39%, 96.00% 9.11%, 98.00% 8.01%, 100.00% 7.22%);
}
.umi-tags {
    margin-top: -50px;
}
