.mood-bar-umik {
    width: 100%;
    height: 23px;
    border-radius: 10px;
    background: linear-gradient(0deg, #272727, #565656);
}

.neg-umik {
    background: linear-gradient(0deg, #372a2a, #533737);
}

.pos-umik {
    background: linear-gradient(0deg, #293629, #3a513a);
}

.pa-umik {
  background: linear-gradient(0deg, #3f3730, #594d3d);
}
.background-umik {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gifv);
    filter: drop-shadow(2px 4px 6px black);
}
.body-umik {
    background: #1b1b1b;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: var(--defaultdark);
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
.upper-img-block-umik {
    background: #000000;
    height: 50px;
    margin: -30px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-bottom-color: var(--defaultdark);
}
.upper-umik-img {
    background: url(https://i.pinimg.com/originals/61/45/f3/6145f3202dbdaa74e9aea1b6480c2dc9.gif);
    height: 69px;
    margin: -30px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    background-size: cover;
    background-position: bottom;
    background-position-y: 135px;
    box-shadow: inset 0 0 8px #000000;
    margin-top: -53px;
}
.upper-umik-img-overlay {
    background: linear-gradient(45deg, #21372de8, #272827ad);
    height: 69px;
    margin: -30px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -79px;
    mix-blend-mode: color;
    filter: opacity(1.5);
}
.first-quote-umik {
    text-transform: uppercase;
    font-family: 'Spectral SC';
    text-shadow: 0 0 7px;
    margin-top: 24px;
    background: rgb(0 0 0 / 20%);
    z-index: 3;
    position: relative;
    width: fit-content;
    padding: 6px;
    font-size: 11px;
    color: #ffffff;
    border-radius: 10px;
}
.bar-empty-umik {
    height: 23;
    background: black;
    width: 200;
    margin-left: 464px;
    border-radius: 10px;
    outline-color: var(--defaultdark);
    outline-style: solid;
    outline-width: 2px;
}
