.mood-bar-umik {
    width: 100%;
    height: 23px;
    border-radius: 10px;
    background: linear-gradient(0deg, #272727, #565656);
    position: absolute;
}

.neg-umik {
    background: linear-gradient(0deg, #372a2a, #533737);
}

.pos-umik {
    background: linear-gradient(0deg, #293629, #3a513a);
}

.pa-umik {
  background: linear-gradient(0deg, #3f3730, #594d3d);
}
.background-umik {
    background: #181818;
    width: 750;
    outline: solid;
    outline-color: #191919;
    outline-width: 3px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gifv);
    filter: drop-shadow(2px 4px 6px black);
}
.body-umik {
    background: #1b1b1b;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: var(--defaultdark);
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
.upper-img-block-umik {
    background: #000000;
    height: 50px;
    margin: -30px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-bottom-color: var(--defaultdark);
}
.upper-umik-img {
    background: url(https://i.pinimg.com/originals/61/45/f3/6145f3202dbdaa74e9aea1b6480c2dc9.gif);
    height: 69px;
    margin: -30px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    background-size: cover;
    background-position: bottom;
    background-position-y: 135px;
    box-shadow: inset 0 0 8px #000000;
    margin-top: -53px;
}
.upper-umik-img-overlay {
    background: linear-gradient(45deg, #21372de8, #272827ad);
    height: 69px;
    margin: -30px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -79px;
    mix-blend-mode: color;
    filter: opacity(1.5);
}
.first-quote-umik {
    text-transform: uppercase;
    font-family: 'Spectral SC';
    text-shadow: 0 0 7px;
    margin-top: 24px;
    background: rgb(0 0 0 / 20%);
    z-index: 3;
    position: relative;
    width: fit-content;
    padding: 6px;
    font-size: 11px;
    color: #ffffff;
    border-radius: 10px;
}
.bar-empty-umik {
    height: 23;
    background: black;
    width: 140px;
    margin-left: 464px;
    border-radius: 10px;
    outline-color: var(--defaultdark);
    outline-style: solid;
    outline-width: 2px;
}
.umik-status {
    font-family: 'Spectral SC';
    margin-top: -19px;
    margin-left: 239px;
    font-style: italic;
    color: #6e6e6e;
}
.Umik-status-header {
    font-size: 12px;
    letter-spacing: 6px;
    font-family: 'Oranienbaum';
    text-transform: uppercase;
    margin-left: 342px;
    margin-right: -53px;
    margin-bottom: 6px;
    color: var(--default);
}
.umik-txt {
    text-align: justify;
    background: #2f2f2f;
    margin-right: -5px;
    margin-left: -14px;
    padding: 17px;
    padding-top: 0px;
    font-weight: 300;
    color: #d9d9d9;
    font-family: "Noto Serif", serif;
    box-shadow: inset 0 0 2px #000000;
    position: relative;
    z-index: 4;
    border: #3a3a3a;
    border-style: double;
    margin-top: 14px;
    width: 550;
}
.umik-content {
    display: flex;
    flex-direction: row;
}
.umik-feeling {
    display: flex;
    flex-direction: column;
    margin-left: -376px;
    margin-right: -22px;
    margin-top: 20px;
}
.umik-side-img {
    width: 202px;
    margin-left: 17px;
    margin-right: -20px;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0302668f-2f63-4823-bf95-0a16cfe4be6b/dkzprr3-2354aafc-8169-4391-beb0-2ee8e53adb3d.png/v1/fill/w_1217,h_657,q_70,strp/the_forest_nexus_by_eulogy612_dkzprr3-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODY0IiwicGF0aCI6Ii9mLzAzMDI2NjhmLTJmNjMtNDgyMy1iZjk1LTBhMTZjZmU0YmU2Yi9ka3pwcnIzLTIzNTRhYWZjLTgxNjktNDM5MS1iZWIwLTJlZThlNTNhZGIzZC5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.OXFan5YlgYYZXSYxHpkzh3fy-yC2H2IBWokPJ9dEZKE);
    background-size: cover;
    background-position-x: -305px;
    filter: saturate(0.6) contrast(0.6) brightness(0.4);
    box-shadow: inset 0 0 120px #1b1b1b, inset 0 0 80px #1b1b1b, inset 0 0 40px #191919;
}
.umik-sideimg-over\" {
    width: 202px;
    margin-left: -158px;
    margin-right: -20px;
    background: linear-gradient(0deg, #1b1b1b, #26252500);
    position: relative;
    z-index: 2;
}
.Umik-lower-box {
    height: 54px;
    margin: -32px;
    margin-top: 17px;
    background: var(--defaultdark);
    border-top: solid;
    border-top-width: 5px;
    border-top-color: var(--defaultdark);
}
.tree-img-umik {
    background: url(https://i30.servimg.com/u/f30/20/60/58/34/d774ja10.gif);
    height: 150;
    width: 103px;
    margin-top: -154px;
    margin-bottom: -29px;
    margin-left: 568px;
    position: relative;
    z-index: 2;
    background-size: contain;
}
.umik-state-field {
    background: #1f1f1f;
    padding: 14px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Roboto';
    font-size: 11px;
    width: 130px;
    margin-bottom: 6px;
    margin-top: -50px;
    height: 47px;
    margin-left: 346px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}
.status-img-umik {
    height: 42;
    background: url(https://cdn-icons-png.flaticon.com/128/272/272340.png);
    width: 43px;
    margin-top: -13px;
    filter: var(--elementcolor);
    opacity: .7;
    mix-blend-mode: color-dodge;
    background-size: cover;
    margin-left: -6px;
}
