.earth {
    --woofoutline: #1d271c;
    --woofimgcolor: #393f38;
    --woofblock: rgb(57 63 56);
    --woofb: #89a488;   
}
.fire {
    --woofoutline: #2a1e1e;
    --woofimgcolor: #341e1f;
    --woofblock: rgb(70, 49, 50);
    --woofb: #ab7676;
}
.nwater {
    --woofoutline: #1e2b33;
    --woofimgcolor: #1e2b33;
    --woofblock: rgb(56 63 66);
    --woofb: #bcd0d7; 
}
.swater {
    --woofoutline: #1f2a35;
    --woofimgcolor: #1f2a35;
    --woofblock: rgb(55 61 70);
    --woofb: #90b2c7    
}
.sand {
     --woofoutline: #312c23;
    --woofimgcolor: #312c23;
    --woofblock: rgb(64 62 55);
    --woofb: #b99f7f; 
}



.background-woof {
    background: #181818;
    border-radius: 10px;
    width: 750;
    outline: solid;
    outline-color: #222222;
    outline-width: 6px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
    background-size: contain;
    background-image: url(https://64.media.tumblr.com/6fa9ad9f859cf058bfe19a2536b0aa11/tumblr_pkv647vWBM1xp1j77o1_540.gifv);
}
.body-woof {
    background: rgb(37, 37, 37);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: var(--woofoutline);
    outline-width: 2px;
    filter: drop-shadow(2px 4px 6px black);
}
.woof-block-1 {
    height: 63px;
    background: var(--woofblock);
    margin: -30px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -26px;
    box-shadow: inset 0 0 5px #000000;
}
.small-woof {
    position: relative;
    z-index: 6;
    margin-top: 5px;
    font-family: 'Baskervville';
    font-weight: 700;
    color: #ffffff;
    font-style: italic;
}
.big-woof {
    position: relative;
    z-index: 6;
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 22px;
    text-shadow: 0 0 7px;
    color: #ffffff;
}
.woof-img-color {
    background: var(--woofimgcolor);
    height: 110px;
    margin: -30px;
    margin-top: -73px;
    margin-bottom: 35px;
    position: relative;
    z-index: 5;
    mix-blend-mode: color;
}
.woof-scenery-image {
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/086/301/501/large/ariane-lemelin-red-artblast-al-llg-01.jpg?1742853466);
    height: 110px;
    margin: -30px;
    margin-top: -145px;
    margin-bottom: 35px;
    position: relative;
    z-index: 4;
    background-size: cover;
    filter: grayscale(1) saturate(0.5) contrast(0.7) brightness(0.6);
    box-shadow: inset 0 0 10px #000000;
    border-bottom: solid;
    border-bottom-width: 3;
    border-bottom-color: var(--woofoutline);
    border-top: solid;
    border-top-color: var(--woofoutline);
    border-top-width: 3px;
}
.woof-scenery {
    background: black;
    height: 110px;
    margin: -30px;
    margin-top: -145px;
    margin-bottom: 35px;
    position: relative;
    z-index: 3;
    background-size: cover;
}
.woof-flex {
    display: flex;
}
.woof-text {
    width: 560px;
    padding: 31px;
    padding-top: 1px;
    padding-bottom: 25px;
    font-weight: 300;
    color: #d9d9d9;
    text-shadow: 1px 1px 1px #000;
    font-family: "Noto Serif", serif;
    z-index: 3;
    text-align: justify;
    margin-left: -14px;
    margin-right: 29px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #3a3a3a;
}
.woof-side-image {
    background-image: url(https://images2.imgbox.com/71/5f/dpP0nSBZ_o.png);
    width: 350;
    margin-bottom: -24px;
    margin-top: -32px;
    background-size: cover;
    filter: saturate(0.7) contrast(0.6) brightness(0.45);
    margin-right: -27px;
    outline: solid;
    outline-color: var(--woofoutline);
    outline-width: 3px;
    background-position: center;
}
.woof-block-2 {
    height: 76px;
    background: var(--woofblock);
    margin: -30px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -76px;
    margin-bottom: -63px;
    box-shadow: inset 0 0 5px #000000;
}
.symbol-woof {
    background-image: url(https://i98.servimg.com/u/f98/20/60/58/13/leaf-f10.png);
    background-size: cover;
    height: 76;
    width: 76;
    filter: contrast(0) brightness(1.3) drop-shadow(2px -1px 2px #fff);
    mix-blend-mode: overlay;
    margin-top: 27px;
    margin-right: 565px;
    opacity: 47%;
}
.woof-tags {
    margin-bottom: 0px;
    padding-top: 10px;
    display: flex;
    gap: 10px;
    margin-left: 62px;
    position: relative;
}
.woof-tag {
    background: #252525;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    outline: solid;
    outline-color: #3a3a3a;
}
.woof-body b {
    color: var(--woofb);
    font-style: italic;
    font-size: 15px;
}
