.background-woof {
    background: #181818;
    border-radius: 10px;
    width: 660px;
    outline: solid;
    outline-color: #222222;
    outline-width: 6px;
    border: solid;
    border-width: 3px;
    border-color: #3a3a3a;
}
.body-woof {
    background: rgb(37, 37, 37);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    outline: solid;
    outline-color: #2a1e1e;
    outline-width: 2px;
}
.woof-block-1 {
    height: 45px;
    background: rgb(70, 49, 50);
    margin: -30px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 35px;
}
.woof-flex {
    display: flex;
}
.woof-side-image {
    width: 250px;
    background-size: cover;
    background-image: url(https://i30.servimg.com/u/f30/20/60/58/34/plant10.png);
    background-position-x: -44px;
    margin-right: 22px;
}
