.yara-background {
    width: 511px;
    filter: drop-shadow(2px 4px 6px black);
    background-size: cover;
    box-shadow: inset 0 0 10px #55220b;
    filter: brightness(-17.5);
    background: url(https://i.pinimg.com/1200x/ed/2d/84/ed2d84352e636ceeac7e05e70798c040.jpg);
}
.yara-body {
    padding: 56px;
    margin-right: 27px;
    margin-left: -22px;
    line-height: 1;
    text-align: justify;
    font-family: "Bilbo", cursive;
    font-weight: 400;
    font-style: normal;
}
.yara-to {
    color: black;
    font-size: 29px;
    mix-blend-mode: color-burn;
    margin-bottom: 0px;
}
.yara-text {
    color: black;
    font-size: 22px;
    mix-blend-mode: color-burn;
}
.yara-from {
    color: black;
    font-size: 34px;
    mix-blend-mode: color-burn;
    text-align: right;
    margin-top: 33px;
}
.yara-body f {
    display: inline-block;
    width: 218px;
    height: 157px;
    background-image: url(https://i.pinimg.com/1200x/1a/c8/ce/1ac8cefc9e027ee10daa8c5a3f47e34a.jpg);
    position: relative;
    z-index: 4;
    background-size: cover;
    float: right;
    mix-blend-mode: difference;
    filter: invert(1);
}
